In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("Coca_Rating_Ensemble_ (1).csv")
df

,Company,Name,REF,Review,Cocoa_Percent,Company_Location,Rating,Bean_Type,Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,ÿ,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,ÿ,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,ÿ,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,ÿ,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,ÿ,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,ÿ,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,ÿ,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,ÿ,Brazil

In [9]:
df.describe()

               REF       Review       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1795 non-null   object
 1   Name              1795 non-null   object
 2   REF               1795 non-null   int64
 3   Review            1795 non-null   int64
 4   Cocoa_Percent     1795 non-null   object
 5   Company_Location  1795 non-null   object
 6   Rating            1795 non-null   float64
 7   Bean_Type         1794 non-null   object
 8   Origin            1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [23]:
df['Bean_Type'].mode().fillna

<bound method Series.fillna of 0    ÿ
dtype: object>

In [24]:
x=df.drop(['Bean_Type'],axis=1)
x

,Company,Name,REF,Review,Cocoa_Percent,Company_Location,Rating,Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Peru
...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,Brazil

In [25]:
y=df['Bean_Type']
y

0               ÿ
1               ÿ
2               ÿ
3               ÿ
4               ÿ
          ...
1790            ÿ
1791    Forastero
1792    Forastero
1793            ÿ
1794            ÿ
Name: Bean_Type, Length: 1795, dtype: object

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [53]:
df['Name']=le.fit_transform(df['Name'])

In [54]:
df['Company']=le.fit_transform(df['Company'])

In [55]:
df['Cocoa_Percent']=le.fit_transform(df['Cocoa_Percent'])

In [56]:
df['Origin'] = le.fit_transform(df["Origin"].astype(str))

In [57]:
df['Company_Location']=le.fit_transform(df['Company_Location'])

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8, random_state=0)

In [60]:
from sklearn.ensemble import BaggingClassifier

In [61]:
clf=BaggingClassifier()

In [62]:
clf.fit(x_train,y_train)

ValueError: Input contains NaN